.footer-top {
    padding: 77px 0 79px;
}

.footer-top__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer-top__main-txt {
    margin-top: 56px;
    color: #34372D;
    font-size: $font-xxxl;
    font-weight: 300;
    text-transform: uppercase;
    max-width: 520px;
}



.footer__nav {
    display: flex;
    gap: 40px;
    justify-content: end;

    li {
        list-style: none;

        a {
            text-decoration: none;
            color: #34372D;
            font-size: $font-lg;
            text-transform: uppercase;
        }
    }

}

.footer__social {
    display: flex;
    gap: 46.5px;
    justify-content: end;
    align-items: center;

    margin: 35px 0;

    li {
        list-style: none;
    }
}


.footer-top__right-txt {
    text-align: right;
    color: #34372D;
    font-size: $font-xl;
}


.footer-bottom {
    height: 50px;
    background: #5E7B5A;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;


    p {
        color: #FFF;
        font-size: $font-lg;
    }
    a{
        color: #FFF;
        text-decoration: none;
    }
}

@media (max-width: 980px){
    .footer-top__container{
        grid-template-columns: 100%;
        gap: 50px;
    }
    .footer__nav, .footer__social{
        justify-content: center;
    }
    .footer-top__left{
        text-align: center;
    }
    .footer-top__right-txt{
        text-align: center;
    }
    .footer-top__main-txt{
        margin: 50px auto 0;
    }

    .footer__nav{
        flex-wrap: wrap;
    }
}